---
title: Homepage
hero_paragraph: |- 
  London-based party crew 
  HOHP, Bakerlite & TASL 
  Monthly residents on Music Box Radio UK 
  Curators of the BASS CYCLE SESSIONS mix series
images:
- "/assets/img/123543979_448284876154080_4656174462763591070_n.jpg"
- "/assets/img/123718174_2846265282272377_6597285907948287599_n.jpg"
- "/assets/img/123783319_1000245037119162_877474102714638726_n.jpg"
- "/assets/img/123506749_3650350558342026_1032402422433699603_n.jpg"
- "/assets/img/bass-cycle-5.jpg"
- "/assets/img/bass-cycle-6.jpg"
- "/assets/img/bass-cycle-4.jpg"
---

<!-- Hero -->
<section class="h-screen flex justify-center items-center border-b-4 border-white">
  <div>
    <a href="{{ site.baseurl }}/" class="block">
      <h1 class="mb-2">Bass Cycle</h1>
    </a>
    <p class="mb-2">{{ page.hero_paragraph | strip_html | newline_to_br }}</p>
    {% include _nav.html %}
  </div>
</section>

<!-- Mixes -->
<div class="bg-brightRed h-screen flex items-center border-b-4 border-white">
  <section class="w-full">
    <div class="container">
      <div class="row">
        <div class="col w-full lg:w-2/3 pb-1">
          <h2 class="mb-3">Mixes</h2>
          {% for mix in site.mixes limit:2 %}
            <div class="mb-3">
              <p class="mb-1">{{ mix.title }}: <span class="font-bold">{{ mix.guest }}</span></p>
              <p>{{ mix.content | markdownify }}</p>
            </div>
          {% endfor %}
          <a href="{{ site.baseurl }}/mixes" class="button">All mixes</a>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Parties -->
<div class="mt-8 w-full">
  {% include _parties.html %}
</div>