@keyframes moveDown {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(1000vw)
	}
}

@keyframes moveLeft {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-1000vw)
	}
}

@keyframes moveRight {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(1000vw)
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@screen md {
	.repeating-text {
		animation: moveDown 700s infinite linear;
	}	
}

.repeating-text span {
	display: flex;
	flex-direction: column;
	@apply font-basscycle;
	@apply leading-none;
	opacity: 0.3;
	font-size: 16vw;
}

@screen md {
	.repeating-text span {
		font-size: calc(3vw + 24px);
		opacity: 0.9;
	}
}

.rotate-face img {
	animation: rotate 16s infinite linear;
}

.horizontal-marquee-1 {
	animation: moveLeft 400s infinite linear;
}

.horizontal-marquee-2 {
	animation: moveRight 200s infinite linear;
}

.horizontal-marquee-3 {
	animation: moveLeft 350s infinite linear;
}
