@font-face {
  font-family: 'Bass Cycle';
	src: url('../fonts/hang_the_dj/HANGTHEDJ.woff2') format('woff2'), 
			 url('../fonts/hang_the_dj/HANGTHEDJ.woff') format('woff');
}

@font-face {
	font-family: 'Inconsolata';
	src: url('../fonts/inconsolata/Inconsolata-Regular.woff2') format('woff2'),
			 url('../fonts/inconsolata/Inconsolata-Regular.woff') format('woff');
	font-weight: 400;
}

@font-face {
	font-family: 'Inconsolata';
	src: url('../fonts/inconsolata/Inconsolata-Bold.woff2') format('woff2'),
			 url('../fonts/inconsolata/Inconsolata-Bold.woff') format('woff');
	font-weight: 700;
}

@font-face {
	font-family: 'Northstar';
	src: url('../fonts/northstar/northstarboldital.woff2') format('woff2'),
			 url('../fonts/northstar/northstarboldital.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

html {
	font-size: 50%;
}

@screen sm {
	html {
		font-size: 57.5%;
	}
}

@screen md {
	html {
		font-size: 62.5%;
	}
}

body {
	font-family: 'Inconsolata', monospace;
	@apply text-base;
	@apply font-normal;
}

h1, h2, h3 {
	font-family: 'Bass Cycle';
	@apply text-heading;
	@apply leading-none;
}

.font-basscycle {
	font-family: 'Bass Cycle';
}

.font-northstar {
	font-family: 'Northstar';
	font-weight: 700;
	font-style: italic;
	font-size: 6.4rem;
	@apply leading-none;
}
